.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #C8C7C7 transparent #C8C7C7;
    -fx-background-color: transparent, derive(#C8C7C7,20%);
    -fx-max-width: 1;
    -fx-max-height: 1;

}
/*

.split-pane {
    -fx-padding: 1 0 0 0;
}*/
.split-pane > .split-pane-divider {
    -fx-padding: 4 0 3 0;
}